#experience {
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    /* margin-top: 1rem; */
}

.experiencePageTitle {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 1rem;
    /* padding-top: 1.5rem; */
    margin-bottom: 1.5rem;
}

.experienceBars {
    /* margin: 1.5rem; */
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

.exp {
    display: flex;
    /* flex-direction: column; */
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
    align-items: center;
    /* Center vertically */
}

.exp>img {
    max-height: 3.5rem;
    max-width: 8rem;
    margin-right: 2rem;
    background: rgba(255, 255, 255, 0.245);
    align-self: center;
}

.expText>h2 {
    font-size: 1.6rem;
    font-weight: 600;
}

.expText>p {
    font-weight: 400;
    font-size: 0.9rem;
}

#contact {
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.contactPageTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 1.5rem;
    margin-bottom: 0rem;
}

.contactDesc{
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
}

.contactForm{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 65rem;
}

.email, .name, .message{
    font-size: medium;
    width: 98%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40, 40, 40);
}

.submitBtn{
    background: white;
    border: none;
    padding: 0.50rem 2.75rem;
    border-radius: 0.5rem;
    margin: 1rem 0rem;
    font-size: medium;
    font-weight: 500;
}

.submitBtn:hover{
    cursor: pointer;
}

.links{
    display: flex;
    flex-wrap: wrap;
}

.link{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0rem 0.5rem;
    margin-top: 1rem;
}



@media screen and (max-width: 550px) {
    .exp {
      flex-direction: column; /* Stack items vertically on smaller screens */
      text-align: center; /* Center text on smaller screens */
      align-items: center; /* Center items horizontally on smaller screens */
    }

    .experiencePageTitle{
        font-size: 2.5rem;
    }
  
    .contactPageTitle{
        font-size: 2.5rem;
    }

    .exp>img {
      margin-right: 0; /* Remove right margin on smaller screens */
      margin-bottom: 1rem; /* Add some space between the image and text on smaller screens */
      align-self: center; /* Center the image horizontally on smaller screens */
    }
    .expText>h2{
        font-size: 5.8vw;
        font-weight: 600;
    }
    .expText>p{
        font-weight: 500;
        font-size: 3.2vw;
    }

    .contactDesc{
        font-weight: 500;
        font-size: 3.25vw;
    }
  }

